# Heroes Of Pymoli Data Analysis

#### Female players are a small(14%), but very profitable cohort of players on the site.

#### Players 20-24 represent the largest cohort by age for the game, however, it is not clear if this dynamic is consistent between the male and female cohorts.

#### The game's marketers have an opportunity to make the game more profitable by attracting and engaging more female players.

#### Further study on the age cohorts by gender as well primary research interviewing players could help understand if female players are distinct from their male peers in terms of what engages them on the game.

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#check data structure
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
### Player Count
#purchase_data.SN.value_counts() - displayed player frequency,anser at bottom, helpful but not exactly right
len(purchase_data["SN"].unique())

576

In [4]:
unique = purchase_data["SN"].nunique()
unique_dict = [{"Total Players":unique}]
unique_df = pd.DataFrame(unique_dict)
unique_df

   Total Players
0            576

In [5]:
### Purchasing Analysis (Total)

# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [59]:
#describe is pretty close but doesn't provide revenue due to limitations in variables
#Calculate revenue average Price*Sum of items
Game_revenue = 780*3.05
'${:,.2f}'.format(Game_revenue)
print(Game_revenue)

2379.0

In [60]:
### Purchasing Analysis (Total)
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
# pass purchase analysis values through dictionary

Game_dic =[{'Unique_Items':183,'Average_Price':3.05, 'Items_Purchased':780, 'Total_Revenue': 2379.00}]
Game_df = pd.DataFrame(Game_dic)
Game_df

   Average_Price  Items_Purchased  Total_Revenue  Unique_Items
0          $3.05              780      $2,379.00           183

In [49]:
#Gender Analysis, create calculated variables by pulling data from purchase_data
Gender_Purchase_grpp = purchase_data.groupby("Gender")
purchase_data["Gender"]
Male_count = purchase_data[purchase_data["Gender"]=="Male"]["SN"].nunique()
Female_count = purchase_data[purchase_data["Gender"]=="Female"]["SN"].nunique()
Total_Count = purchase_data["SN"].nunique()
Other = Total_Count - (Male_count + Female_count)

Male_percent = (Male_count)/(Total_Count)*100
Female_percent = Female_count/Total_Count*100
Other_Percent = Other/Total_Count*100

#format and print Gender analysis data frame 

Gender_Analysis_df = pd.DataFrame({"":["Male","Female","Other/Unspecified"],
    "Total_Count": [Male_count,Female_count,Other], 
    "Player Composition by Gender": [Male_percent,Female_percent,Other_Percent]})

Gender_Analysis_df.set_index("", inplace=True)
Gender_Analysis_df.style.format({"Player Composition by Gender":"{:,.2f}"})

In [62]:
#define boundaries on age before setting bin buckets
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [67]:
# Create buckets for bins
bins = [0, 9, 14, 19, 24,29,34,39,46]
Age_Cohorts = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39','40+']
pd.cut(purchase_data["Age"], bins, labels=Age_Cohorts)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=Age_Cohorts)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24

In [69]:
# Group by Age Cohorts
Age_Cohort_Group = purchase_data.groupby("Age Group")

# Check Age Cohort bin distribution
Age_Cohort_Group_analysis = Age_Cohort_Group["Price"].count()
Age_Cohort_Group_analysis.head()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
Name: Price, dtype: int64

In [72]:
#Average Purchase Price
age_price = Age_Cohort_Group["Price"].mean()
age_price

Age Group
<10     $3.35
10-14   $2.96
15-19   $3.04
20-24   $3.05
25-29   $2.90
30-34   $2.93
35-39   $3.60
40+     $2.94
Name: Price, dtype: float64

In [73]:
#Revenue
age_revenue = Age_Cohort_Group["Price"].sum()
age_revenue

Age Group
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24   $1,114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: float64

In [74]:
#Sales per person
per_age_sales = Age_Cohort_Group["SN"].nunique()
per_age_sales

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [81]:
#Average price per cohort
byage_avgprice = age_revenue/per_age_sales
byage_avgprice

Age Group
<10     $4.54
10-14   $3.76
15-19   $3.86
20-24   $4.32
25-29   $3.81
30-34   $4.12
35-39   $4.76
40+     $3.19
dtype: float64

In [86]:
#bring values into data frame
Age_Analysis = pd.DataFrame({"Transactions":per_age_sales,
                                     "Avg Price":age_price,
                                           "Total Revenue":age_revenue,
                                       "Sales/Person":byage_avgprice})
Age_Analysis

           Transactions  Avg Price  Total Revenue  Sales/Person
Age Group
<10                  17      $3.35         $77.13         $4.54
10-14                22      $2.96         $82.78         $3.76
15-19               107      $3.04        $412.89         $3.86
20-24               258      $3.05      $1,114.06         $4.32
25-29                77      $2.90        $293.00         $3.81
30-34                52      $2.93        $214.00         $4.12
35-39                31      $3.60        $147.67         $4.76
40+                  12      $2.94         $38.24         $3.19

In [87]:
#Big spenders = sort value. sort ascending = False
big_spenders = purchase_data.groupby("SN")
big_spenders
big_spenders_analysis = big_spenders["SN"].count()
big_spenders_analysis
big_spenders_analysis_app = big_spenders["Price"].mean()
big_spenders_analysis_tpv = big_spenders["Price"].sum()
big_spenders_table = pd.DataFrame({"Purchase Count":big_spenders_analysis,
                                  "Average Purchase Price":big_spenders_analysis_app,
                                  "Total Purchase Value":big_spenders_analysis_tpv})
big_spenders_table.sort_values("Purchase Count", ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Iral74                    4                   $3.40                $13.62
Idastidru52               4                   $3.86                $15.45
Asur53                    3                   $2.48                 $7.44
Inguron55                 3                   $3.70                $11.11

In [89]:
Top_Sellers = purchase_data.groupby(["Item ID","Item Name"]) 
Top_Sellers_count = Top_Sellers["SN"].count()
Top_Sellers_count
popular_item_price = Top_Sellers.Price.mean()
popular_total_value = Top_Sellers["Price"].sum()
Top_Sellers_summary = pd.DataFrame({"Qty":Top_Sellers_count,
                                     "Price":popular_item_price,
                                     "Revenue":popular_total_value})
Top_Sellers_summary.sort_values("Qty", ascending=False).head()

                                                      Qty  Price  Revenue
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm   12  $4.23   $50.76
145     Fiery Glass Crusader                            9  $4.58   $41.22
108     Extraction, Quickblade Of Trembling Hands       9  $3.53   $31.77
82      Nirvana                                         9  $4.90   $44.10
19      Pursuit, Cudgel of Necromancy                   8  $1.02    $8.16

In [90]:
Top_Sellers_summary.sort_values("Revenue", ascending=False).head()

                                                      Qty  Price  Revenue
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm   12  $4.23   $50.76
82      Nirvana                                         9  $4.90   $44.10
145     Fiery Glass Crusader                            9  $4.58   $41.22
92      Final Critic                                    8  $4.88   $39.04
103     Singed Scalpel                                  8  $4.35   $34.80